.mainGame {
    background-color: antiquewhite;
    width: 100%;
    height: 600px;
    position: relative;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display : grid;
    grid-template-areas: "1 2 3 4 5" "6 7 8 9 10" 
                "11 12 13 14 15" "16 17 18 19 20" "21 22 23 24 25";
    margin: auto;
    place-items: center;
    width: 80%;
    height: 80%;
    border: 1px black solid;
    opacity: 50%;
}

.tile {
    display: flex;
    justify-content: center;
    align-items : center;
    
    width: 80%;
    height: 80%;
    background-color: #E5E7E9;
    font-size: 30px;

    cursor: pointer;
}

.selected {
    color: brown;
}

.correct {
    background-color: #33FF57;
    cursor: default;
    pointer-events: none;
}

.in-line {
    background-color: #F9E79F;
}

.alertbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    width: 40%;
    height: 20%;
    justify-content: center;
    align-items : center;

    background-color: azure;
    font-weight: 700;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 20%;
}

.out {
    display: none;
}